<% layout('layouts/boilerplate') %>

    <div class="row mt-5">
        <h1 class="text-center">Edıt Product</h1>
        <div class="col-6 offset-3">
            <form class="validated-form" action="/products/<%= product._id %>?_method=PUT" method="POST" novalidate>
                <div>
                    <label class="form-label" for="title">Title</label>
                    <input value="<%= product.title %> " class="form-control mb-3" type="text" name="product[title]"
                        id="title" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div>
                    <label class="form-label" for="location">Location</label>
                    <!-- to hit exact name in database we have enter name[property]  -->
                    <input value="<%= product.location %> " class="form-control mb-3" type="text"
                        name="product[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div>
                    <label class="form-label" for="img">Image url</label>
                    <!-- to hit exact name in database we have enter name[property]  -->
                    <input value="<%= product.img %> " class="form-control mb-3" type="text" name="product[img]"
                        id="img" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div>
                    <label class="form-label" for="price">Price</label>
                    <!-- to hit exact name in database we have enter name[property]  -->
                    <input value="<%= product.price %>" class="form-control mb-3" type="number" name="product[price]"
                        id="price" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <div>
                    <label class="form-label" for="description">Description</label>
                    <!-- to hit exact name in database we have enter name[property]  -->
                    <textarea class="form-control mb-3" type="text" cols="30" rows="2" name="product[description]"
                        id="description" required><%= product.description%></textarea>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
                <button class="btn btn-primary">Update</button>
                <a class="btn btn-success" href="/products/<%= product._id %> ">Back</a>
            </form>
        </div>
    </div>