<% layout('layouts/boilerplate') %>

    <!-- we will loop over with ejs all of our product to render dynamically -->

    <% for (let prd of products){ %>
        <div class="container">
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img-fluid" src="<%= prd.img %>" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Title: <%= prd.title %>
                            </h5>
                            <h6 class="card-title">
                                Price: $<%= prd.price %>

                            </h6>
                            <p>
                                <%= prd.description %>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">
                                    Location: <%= prd.location %>

                                </small>
                            </p>
                            <a class="btn btn-primary" href="/products/<%= prd._id %>">View</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% } %>